mat-form-field {
  display: block;
}

.page-title {
  margin: 2% 8% 2% 8%;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

.form-with-error {
  margin-bottom: 2rem;
}

.full-width {
  flex: 0 0 100%;
}

.half-width {
  flex: 0 0 calc(50% - 8px); /* two cols with gap */
}