@if (clinic) {
  <button (click)="onUpdate()">Edit</button> <br>
  <ul>
    <li>Name: {{ clinic.name }}</li>
    <li>Address: {{ clinic.address }}</li>
    <li>Mobile Number: {{ clinic.mobileNumber }}</li>
    <li>Email Address: {{ clinic.emailAddress }}</li>
    <li>
      <ul>
        @for (hour of clinic.operatingHours; track hour.day) {
          <li>{{ hour.day }}: {{ hour.startTime }}-{{ hour.endTime }}</li>
        }
      </ul>
    </li>
    <li>
      <b>Branches</b>
      <ul>
        @for(branch of clinic.branches; track branch._id) {
          <li><a [routerLink]="['/admin/branch/details', branch._id]">{{ branch.name }}</a></li>
        }
      </ul>
    </li>
  </ul>
} @else {
  <p>Fetching details...</p>
}