<button><a routerLink="/admin/branch/create">Create</a></button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (branch of branches; track branch._id) {
      <tr>
        <td>{{ branch._id }}</td>
        <td>{{ branch.name }}</td>
        <td>
          <button (click)="onDetails(branch._id!!)">Details</button>
          <button (click)="onUpdate(branch._id!!)">Update</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (isLoading) {
  <p>Fetching data...</p>
}