<nav aria-label="Workspace navigation" class="space-y-1">
  @for (item of menuItems; track item.label) {
    @if (item.link) {
      <a [routerLink]="disabled ? null : item.link" routerLinkActive="active" [attr.aria-disabled]="disabled"
        [attr.tabindex]="disabled ? -1 : null" class="nav-link">
        <app-icon aria-hidden="true" [name]="item.icon" /><span>{{ item.label }}</span>
      </a>
    } @else {
      <button type="button" class="nav-link w-full" [disabled]="disabled" (click)="item.onClick?.()">
        <app-icon aria-hidden="true" [name]="item.icon" /><span>{{ item.label }}</span>
      </button>
    }
  }
</nav>
