@if (user) {
  <div class="view-header">
    <h2 class="page-title">User</h2>
    <button mat-raised-button color="primary" (click)="onUpdate()">Edit</button>
  </div>

  <app-list [data]="filteredUser">

    <!-- custom -->
    @if (user.role === 'dentist') {
      <mat-list-item>
        <span class="item-title" matListItemTitle>{{ user.clinic?.name }}</span>
        <span class="item-line" matListItemLine>Clinic</span>
      </mat-list-item>
      <b></b>
      <mat-list-item>
        <span class="item-title" matListItemTitle><b>Schedule:</b></span>
        @for (oh of user.operatingHours; track oh.day) {
          <span class="item-line" matListItemLine>{{ oh.day }} - {{ oh.startTime }} - {{ oh.endTime }}</span>
        }
      </mat-list-item>
    }
  </app-list>

} @else {
  <p>Fetching details...</p>
}