@if (appointment) {
  <div class="view-header">
    <h2 class="page-title">Appointment</h2>
  </div>

  <app-list [data]="displayAppointment">
    <div class="custom-list">
      <mat-list-item>
        <span class="item-title" matListItemTitle><strong>Service/s:</strong></span>
        @for (service of appointment.services; track service._id) {
          <span class="item-line" matListItemLine>{{ service.name }}</span>
        }
      </mat-list-item>
    </div>

    <div class="row-divider"></div>

    <div class="notes-section">
      <div class="note-item clinic-notes">
        <div class="note-header">
          <strong>Clinic Notes:</strong>
          <button mat-icon-button color="primary" (click)="openNotesDialog()" [disabled]="isClinicNotesDisabled()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="note-body">
          {{ appointment.notes.clinicNotes || 'No notes yet' }}
        </div>
      </div>

      <div class="note-item patient-notes">
        <div class="note-header">
          <strong>Patient Notes:</strong>
        </div>
        <div class="note-body">
          {{ appointment.notes.patientNotes || 'No notes yet' }}
        </div>
      </div>
    </div>


  </app-list>

  <!-- Approve / Decline Buttons -->

  <div class="action-buttons">
    <button mat-stroked-button color="warn" 
            (click)="cancelAppointment()" 
            *ngIf="appointment.status === 'confirmed' else notConfirmed">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </div>
  <ng-template #notConfirmed>
    <div class="action-buttons" >
      <button mat-flat-button color="primary" 
              (click)="approveAppointment()" 
              [disabled]="isActionDisabled()">
        <mat-icon>check</mat-icon> Approve
      </button>

      <button mat-stroked-button color="warn" 
              (click)="declineAppointment()" 
              [disabled]="isActionDisabled()">
        <mat-icon>close</mat-icon> Reject
      </button>
    </div>
  </ng-template>

} @else {
  <p>Fetching details...</p>
}
