.page-title {
  font-size: 24px;
  font-weight: bold;
}

.view-header {
  margin: 2% 8% 2% 8%;
  margin-bottom: 16px;
}

.item-title{
    font-size: 19px;
}

.item-line{
    font-size: 16px;
}

.custom-list {
    margin-top: -10px !important;
    margin-left: -19px !important;
}

.row-divider {
  grid-column: 1 / -1;
  height: 1px;
  background-color: #ddd;
  margin-top: 0.5rem;
}


.action-buttons button mat-icon {
  margin-right: 4px;
}

.action-buttons {
  display: flex;
  justify-content: center; /* centers horizontally */
  gap: 16px; /* space between buttons */
  margin-top: 24px;
}
