<button (click)="onCreate()">Create</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (dentalService of dentalServices; track dentalService._id) {
      <tr>
        <td>{{ dentalService._id }}</td>
        <td>{{ dentalService.name }}</td>
        <td>
          <button (click)="onDetails(dentalService._id!!)">Details</button>
          <button (click)="onUpdate(dentalService._id!!)">Update</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (isLoading) {
  <p>Fetching data...</p>
}