@if (appointment) {
  <button (click)="onUpdate()">Edit</button> <br>
  <ul>
    <li><b>Status</b>: {{ appointment.status }}</li>
    <li><b>Date</b>: {{ appointment.date | date: 'mediumDate' }}</li>
    <li><b>Time</b>: {{ appointment.startTime }} - {{ appointment.endTime }}</li>
    <li>
      <b>Clinic</b>: {{ appointment.clinic.name }}
      <p>{{ appointment.clinic.address }}</p>
    </li>
    <li><b>Dentist</b>: {{ appointment.dentist.firstName }} {{ appointment.dentist.lastName }}</li>
    <li><b>Patient</b>: {{ appointment.patient.firstName }} {{ appointment.patient.lastName }}</li>
    <li>
      <b>Services</b>
        <ul>
          @for (service of appointment.services; track service._id) {
            <li>{{ service.name }}</li>
          }
        </ul>
    </li>
    <li>
      <b>Notes</b>
      <ul>
        <li><b>Clinic Notes</b>: {{ appointment.notes.clinicNotes }}</li>
        <li><b>Patient Notes</b>: {{ appointment.notes.patientNotes }}</li>
      </ul>
    </li>
  </ul>
} @else {
  <p>Fetching details...</p>
}