@if (appointment) {
  <div class="view-header">
    <button mat-raised-button color="primary" (click)="onUpdate()">Edit</button>
  </div>
  <app-list [data]="displayAppointment">
    <div class="custom-list">
      <mat-list-item>
        <span class="item-title" matListItemTitle><strong>Service/s:</strong></span>
        @for (service of appointment.services; track service._id) {
          <span class="item-line" matListItemLine>{{ service.name }}</span>
        }
      </mat-list-item>
    </div>
    <div class="row-divider"></div>
    <div class="notes-section">
      <div class="note-item clinic-notes">
        <div class="note-header">
          <strong>Clinic Notes:</strong>
          <button mat-icon-button color="primary" (click)="openNotesDialog()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="note-body">
          {{ appointment.notes.clinicNotes || 'No notes yet' }}
        </div>
      </div>

      <div class="note-item patient-notes">
        <div class="note-header">
          <strong>Patient Notes:</strong>
        </div>
        <div class="note-body">
          {{ appointment.notes.patientNotes || 'No notes yet' }}
        </div>
      </div>
    </div>
  </app-list>
} @else {
  <p>Fetching details...</p>
}