<button><a routerLink="/admin/user/create">Create</a></button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track user._id) {
      <tr>
        <td>{{ user._id }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>
          <button (click)="onDetails(user._id!!)">Details</button>
          <button (click)="onUpdate(user._id!!)">Update</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (users.length == 0) {
  <p>Fetching data...</p>
}