<h2 class="page-title">Clinic</h2>
<app-form
  [form]="rxform"
  [fields]="clinicFields" 
  [isLoading]="isLoading"
  (onSubmitEvent)="onSubmit()"
>
  <form [formGroup]="rxform">  
    <span class="hours">Clinic Hours:</span>
    <div formArrayName="operatingHours" class="operating-hours">
      @for (hour of this.operatingHours.controls; track $index) {
        <div [formGroupName]="$index">
          <div class="form-with-error">
            <div class="form-grid">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Day</mat-label>
                <mat-select formControlName="day" [id]="'day' + $index">
                  @for (day of getDayOptions($index); track day.code) {
                    <mat-option [value]="day.code">{{ day.label }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Start Time</mat-label>
                <input matInput type="time" formControlName="startTime" [id]="'startTime' + $index">
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>End Time</mat-label>
                <input matInput type="time" formControlName="endTime" [id]="'endTime' + $index">
              </mat-form-field>
            </div>
            @if (hour.errors?.['timeRangeInvalid'] && (hour.touched || hour.dirty)) {
              <div class="error">
                Time must be between the start and end time.
              </div>
            }
          </div>
        </div> <br>
      }
    </div>
  </form>
</app-form>



